{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-maxfilter/data/1561561561.fif",
    "calibration": null,
    "cross_talk_correction": null,
    "head_position": null,
    "destination": null,
    "param_st_duration": null,
    "param_st_correlation": 0.98
}