{
    "input_raw": "/input/rest1-raw.fif",
    "input_calibration": null,
    "input_cross_talk": null,
    "head_pos": null,
    "output_tag": "sss",
    "params_maxwell_filter": {
        "origin": "auto",
        "int_order": 8,
        "ext_order": 3,
        "st_duration": null,
        "st_correlation": 0.98,
        "coord_frame": "head",
        "destination": null,
        "regularize": "in",
        "ignore_ref": false,
        "bad_condition": "error",
        "st_fixed": true,
        "st_only": false,
        "mag_scale": 100.0,
        "skip_by_annotation": ["edge", "bad_acq_skip"],
        "extended_proj": [],
        "verbose": null
   },
    "params_save": {
        "picks": null,
        "tmin": 0,
        "tmax": null,
        "buffer_size_sec": null,
        "drop_small_buffer": false,
        "proj": false,
        "fmt": "single",
        "overwrite": true,
        "split_size": "2GB",
        "split_naming": "neuromag",
        "verbose": null
   }
}